<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {titulo: "Iniciar Sesión", cssSheet: "details"}) %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
       <div class="tituloyreturn">
           <h1><%= nftDetail.name %> </h1>
           <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
       </div>
       <div class="detallecompra">
        <img class="imagendetalle" src="<%= nftDetail.img %> " alt="slider">
       </div>
       <div class="valorcompra">
           <p>Precio:</p>
           <p>~<%= nftDetail.priceeth %>  ETH</p>
           <p>(<%= nftDetail.priceusd %>  USD)</p>
           <a href="/cart"><i class="fas fa-shopping-cart fa-bars botoncompra2"></i></a>
       </div>
       <button class="botoncomprar">Comprar Ahora</button>
       <div class="datosvendedor">
           <h2>Vendedor</h2>
           <div class="ranknft">
           <p><%= nftDetail.author %> </p>
           <i class="fa-solid fa-star"></i>
           <p><%= nftDetail.rating %> </p>
           <i class="fa-solid fa-images"></i>
           </div>
        </div>
       
       
       <div class="descripcionnft">
           <h2>Descripcion:</h2>
           <p><%= nftDetail.description %> </p>
       </div>

    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>