<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {titulo: "Iniciar Sesión", cssSheet: "details"}) %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
       <div class="tituloyreturn">
           <h1><%= product.name %> </h1>
           <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
       </div>
       <div class="detallecompra">
        <img class="imagendetalle" src="/img/images/<%= product.image %>" alt="slider">
       </div>
       <div class="valorcompra">
           <p>Precio:</p>
           <p>~<%= product.price %>  ETH</p>
           <p>($ <%= (product.price / 0.00058).toFixed(2) %>  USD)</p>           
       </div>
       <button class="botoncomprar">Comprar Ahora</button>
       <a href="/cart"><button class="botoncomprar" >Agregar al Carrito</button></a>
       <div class="datosvendedor">
           <h2>Vendedor</h2>
           <div class="ranknft">
           <p><%= product.creator.first_name %> <%= product.creator.last_name %> </p>
           <i class="fa-solid fa-star"></i>
           <p><%= product.creator.username %> </p>
           <i class="fa-solid fa-images"></i>
           </div>
        </div>
       
       
       <div class="descripcionnft">
           <h2>Descripcion:</h2>
           <p><%= product.description %> </p>
       </div>

    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>