<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {titulo: "Registrarme", cssSheet: "register"}) %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <a class="iconoCerrar" href="/">
            <i class="fas fa-times"></i>
        </a>
        <div class="iconoFotoPerfil">
            <i class="fas fa-user-alt"></i>
        </div>
        <form action="/user" method="POST" enctype="multipart/form-data">
            <div class="formulario">
                <input type="file" name="img"> 
                <label for="register">
                    <input class="inputs" type="text" name="first_name" id="first_name" placeholder="   Nombre" minlength="5" required>
                </label>
                <label for="register">
                    <input class="inputs" type="text" name="last_name" id="last_name" placeholder="   Apellido" minlength="5" required>
                </label>
                <label for="register">
                    <input class="inputs" type="email" name="email" id="email" placeholder="   Email" minlength="5" required>
                </label>
                <label for="register">
                    <input class="inputs" type="text" name="username" id="username" placeholder="   Nombre de Usuario" minlength="5" required>
                </label>
                <% if (locals.errors && errors.email) { %>
                    <div class="errorLogin" style="color: #FF0000"><%= errors.email.msg%></div>
                   <% } %> 
                <label for="register">
                    <input class="inputs" type="password" name="password" id="password" placeholder="   Contraseña" minlength="5" required>
                </label>   
                <label for="register">
                    <input class="inputs" type="password" name="repeatPassword" id="repeatPassword" placeholder="   Repeti tu Contraseña" minlength="5" required>
                </label> 
                <% if (locals.errors && errors.password) { %>
                    <div class="errorLogin" style="color: #FF0000"><%= errors.password.msg%></div>
                   <% } %> 
            </div>
            <div class="checksWrap">
                <label for="register">
                    <input type="checkbox" name="terminos" id="terminos" value="acepto" class="checks">
                    <a href="">He leido y acepto los terminos y condiciones</a>
                </label>
            </div>
            <div class="checksWrap">
                <label for="register">
                    <input type="checkbox" name="mayor" id="mayor" value="mayor" class="checks">
                    Soy mayor de 18 años
                </label>                
            </div>
            <div class="checksWrap">
                <button type="submit" class="botones">Registrarme</button>
            </div>
        </form>

        
    </main>
    <%- include("../partials/footer.ejs") %>

</div>
    
</body>
</html>